

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Project Name")
            </th>
            <th>
                @Html.DisplayName("Project Initial Budget")
            </th>
            <th>
                @Html.DisplayName("Project Final Budget")
            </th>
            <th>
                @Html.DisplayName("Project Start Date")
            </th>
            <th>
                @Html.DisplayName("Project End Date")
            </th>
            <th>
                @Html.DisplayName("Project Description")
            </th>
            <th>
                @Html.DisplayName("Project Attachment")
            </th>
            <th>
                @Html.DisplayName("Bureau Name")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @ViewBag.Project)
        {
            <tr>
                <td>
                    @item.ProjectName)
                </td>
                <td>
                    @item.ProjectInitialBudget)
                </td>
                <td>
                    @item.ProjectFinalBudget)
                </td>
                <td>
                    @item.ProjectStartDate)
                </td>
                <td>
                    @item.ProjectEndDate)
                </td>
                <td>
                    @item.ProjectDescription)
                </td>
                <td>
                    @item.ProjectAttachment)
                </td>
                <td>
                    @item.Bureau.BureauName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
