@model IEnumerable<ProjectManagement.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectInitialBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectFinalBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectAttachment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bureau)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in @ViewBag.Project) {
        <tr>
            <td>
                @item.ProjectName)
            </td>
            <td>
                @item.ProjectInitialBudget)
            </td>
            <td>
                @item.ProjectFinalBudget)
            </td>
            <td>
                @item.ProjectStartDate)
            </td>
            <td>
                @item.ProjectEndDate)
            </td>
            <td>
                @item.ProjectDescription)
            </td>
            <td>
                @item.ProjectAttachment)
            </td>
            <td>
                @item.Bureau.BureauName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
