<div class="col-md-3 p-2">
    <div class="card">
        <hr />
        <center>  <div class="card-header"><h3><b>Initial Note Sheet</b></h3> </div> </center><!-- /.card-header -->
        <div class="card-body">
            <div class="tab-content">
                <div class="form-group row">
                    <label class="control-label col-md-5">Project Name :</label>
                    <div class="col-md-6">
                        @ViewBag.Project.ProjectName
                    </div>
                    <label class="control-label col-md-5">Initial Budget :</label>
                    <div class="col-md-6">
                        @ViewBag.Project.ProjectInitialBudget BDT
                    </div>
                    <label class="control-label col-md-5">Final Budget :</label>
                    <div class="col-md-6">
                        @ViewBag.Project.ProjectFinalBudget BDT
                    </div>
                    <label class="control-label col-md-5">  Start Date :</label>
                    <div class="col-md-5">
                        @ViewBag.Project.ProjectStartDate.ToString("MMM dd, yyyy")
                    </div>
                    <label class="control-label col-md-5">  End Date :</label>
                    <div class="col-md-6">
                        @ViewBag.Project.ProjectEndDate.ToString("MMM dd, yyyy")
                    </div>
                    <label class="control-label col-md-5">  Description :</label>
                    <div class="col-md-6">
                        @ViewBag.Project.ProjectDescription
                    </div>
                    <label class="control-label col-md-5">  Attachment :</label>
                    <div class="col-md-6">
                        <a class="btn btn-outline-primary" href="/File/ProjectAttachment/@ViewBag.Project.ProjectAttachment" target="_blank">Attachment</a>
                    </div>
                    <label class="control-label col-md-5">  Bureau Name :</label>
                    <div class="col-md-6">
                        @ViewBag.Project.BureauName
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
