@model IEnumerable<ProjectManagement.ViewModel.NoaViewModel>
@{
    ViewData["Title"] = "NOA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Message != null)
{
    <partial name="Message" />
}
<div class="col-lg-12">

    <!-- /.card -->
    <div class="card">

        <div class="card-header border-0">
            <button class="btn btn-primary" style="border-radius:20px 5px;" type="button" onclick="location.href='@Url.Action("Create", "Noa")'"><b>Create</b></button>
            <hr />
            <center>  <h1 class="card-title"><b>NOA List</b></h1></center>
            @*<div class="card-tools">
                    <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-download"></i>
                    </a>
                    <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>*@

            <hr />
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-striped table-valign-middle">
                <thead>
                    <tr>
                        <th>
                            Sl
                        </th>

                        <th>
                            @Html.DisplayName("Project")
                        </th>
                        <th>
                            @Html.DisplayName("NOA Code")
                        </th>
                        <th>
                            @Html.DisplayName("PG Date")
                        </th>
                        <th>
                            @Html.DisplayName("Final Contract Price")
                        </th>
                        <th>
                            @Html.DisplayName("Tender No")
                        </th>
                        <th>
                            @Html.DisplayName("Attachment")
                        </th>
                        <th>
                            @Html.DisplayName("Action")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 0;}
                    @foreach (var item in @ViewBag.Noa)
                    {
                    <tr>
                        <td>
                            @{ i++;}
                            @i
                        </td>
                        <td>
                            @item.ProjectName
                        </td>
                        <td>
                            @item.NoaCode
                        </td>
                        <td>
                            @item.Pgdate.ToString("dd MMM, yyyy")
                        </td>

                        <td>
                            <b>@item.FinalContatractPrice</b> BDT
                        </td>

                        <td>
                            @item.TenderNo
                        </td>
                        @if (item.NoaAttachment == null)
                        {
                            <td style="color: red">No Attachment Found!</td>
                        }
                        else
                        {
                            <td>
                                <a class="btn btn-outline-primary" href="/File/NoaAttachment/@item.NoaAttachment" target="_blank">@item.NoaAttachment</a>
                            </td>
                        }

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.NoaId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.NoaId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.NoaId">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.card -->
</div>
